.person-container {
  display: grid;
  grid-template-columns: 10% 1fr 6fr;
  grid-template-rows: auto;
  overflow: initial scroll;
  font-size: 1.5em;
}

.picture {
  justify-self: stretch;
  align-self: stretch;
  grid-row: span 4;

  img {
    background-color: transparent;
    object-fit: contain;
    object-position: 50% 0;
    width: 100%;
    height: 100%;
  }
}

.data {
  align-self: start;
  justify-self: start;
}

.label {
  align-self: start;
  justify-self: end;
  font-weight: bold;
}

.grid-cell {
  margin: 0.5em 0.25em;
  padding: 0.5em;
}
