<div [@componentAnimations]="getComponentState()" class="content-container">
  <div [@sidePanel]="getComponentState()">
    <form color="primary" [formGroup]="searchForm">
      <mat-form-field>
        <input matInput placeholder="Search..." type="search" formControlName="search" />
      </mat-form-field>
      <mat-paginator [id]="'paginator'" [length]="totalResults" [pageSize]="pageSize" [pageSizeOptions]="[10, 25, 50, 100]" [pageIndex]="pageIndex" (page)="handlePageEvent($event)"></mat-paginator>
    </form>
    <section name="card-list" [ngClass]="listClasses" *ngIf="getComponentState() !== 'fullScreenDetail'">
      <mat-card *ngFor="let person of people" class="selectable-card" (click)="selectPerson(person.id)">
        <mat-card-title>
          {{person.name}}
        </mat-card-title>
        <mat-card-subtitle>
          {{person.city}}, {{person.stateName}}
        </mat-card-subtitle>
      </mat-card>
    </section>
  </div>
  <pf-person [person]="selectedPerson" (close)="closeDetail()" [@detailPanel]="getComponentState()">
  </pf-person>
</div>
<div class="spinner-overlay" *ngIf="spinnerActive">
  <mat-spinner></mat-spinner>
</div>

